<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/myhibernate1</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Pramod@987654321</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>

		<!-- <mapping class="comjsp.hibernetprograms.Address"/> <mapping class="comjsp.hibernetprograms.Studentapp" 
			/> <mapping class="com.jsp.one.to.one.mapping.Question"/> <mapping class="com.jsp.one.to.one.mapping.Answer"/> 
			<mapping class="com.jsp.one.to.many.mapping.Department"/> <mapping class="com.jsp.one.to.many.mapping.Employee"/> 
			<mapping class="com.jsp.Many.to.One.Mapping.Library"/> <mapping class="com.jsp.Many.to.One.Mapping.Books"/> 
			<mapping class="com.jsp.Many.to.Many.Mapping.Product"/> <mapping class="com.jsp.Many.to.Many.Mapping.Orders"/> 
			<mapping class="com.jsp.Caching.LibraryBook"/> -->
		<mapping class="com.jsp.Caching.Courses" />

	</session-factory>
</hibernate-configuration>